---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1+Apple+Park+Way+Cupertino%2C+California%2C+95014+United+States&key=<G_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - San Jose, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Apple Park Way",
                       "short_name" : "Apple Park Way",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cupertino",
                       "short_name" : "Cupertino",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "lo[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?APPID=<WEATHER_API_KEY>&q=Cupertino&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.0322,"lat":37.323},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"base":"stations","main":{"temp":43.39,"feels_like":43.39,"temp_min":39.16,"temp_max":47.8,"pressure":1020,"humidity":84},"visibility":10000,"wind":{"speed":1.99,"deg":261,"gust":4},"clouds":{"all":20},"dt":1639884929,"sys":{"type":2,"id":2042351,"country":"US","sunrise":1639840633,"sunset":1639875162},"timezone":-28800,"id":5341145,"name":"Cupertino","cod":200}'
  recorded_at: Sun, 19 Dec 2021 03:35:29 GMT
recorded_with: VCR 6.0.0
